.hori > .row {
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.hori {
  min-width: 700px;
}
.hori > .row::-webkit-scrollbar {
  display: none;
}
.scroll {
  background: whitesmoke;
  cursor: pointer;
  opacity: 80%;
  padding: 30px 8px;
  
}
.hidden {
    visibility: hidden;
}

